<html>
	<header class  = "subpage-header">			
	<div class  = "blocker"></div>
	  <div class="subpage-header-component">
		<button (click) = "back()">Back</button>
	  </div>
	</header>
<div *ngFor="let complaint of complaints">
  <div>
  <p>Author: {{ complaint.tourist }}</p>
  <p>Name: {{ complaint.name }}</p>
  <p>Description: {{ complaint.description }}</p>
  </div>

  <div>
  <label *ngIf="isResolved(complaint)">Resolved</label>
  <label *ngIf="isRejected(complaint)">Rejected</label>
  <label *ngIf="isForReview(complaint)">Pending review</label>
  <ng-container *ngIf="!(isResolved(complaint) || isRejected(complaint))">
    <button (click)="resolve(complaint)">Resolved</button>
    <button (click)="forReview(complaint)">For Review</button>
  </ng-container>
  </div>
</div>
</html>
/