<html>
<form [formGroup]="addKeypointForm" (ngSubmit)="onSubmit()">
	<div>
      <label for="name"><strong>Keypoint name:</strong></label>
      <input id="name" formControlName="name" type="text" />
      <div *ngIf="formControls['name'].invalid && formControls['name'].touched">Name is required.</div>
    </div>
    <div>
      <label for="content"><strong>Description:</strong></label>
      <input id="content" formControlName="description" type="text" />
      <div *ngIf="formControls['description'].invalid && formControls['description'].touched">Description is required.</div>
    </div>
    <div>
      <label for="image"><strong>Image</strong></label>
      <input id="image" (change)="onFileSelected($event)" type="file" />
      <div *ngIf="formControls['image'].invalid && formControls['image'].touched">Image is required.</div>
    </div>
    <div>
    </div>
     	  <div id="map" style="height: 400px; width: 600px"></div>
    <div>
      <label for="latitude"><strong>Latitude:</strong></label>
      <label>{{ addKeypointForm.get('latitude')?.value }}</label>
    </div>
    <div>
      <label for="longitude"><strong>Longitude:</strong></label>
      <label>{{ addKeypointForm.get('longitude')?.value }}</label>
    </div>
    <button type="submit" [disabled]="addKeypointForm.invalid">Submit</button>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</html>