<html>
	<header class  = "subpage-header">			
	<div class  = "blocker"></div>
	<div class="subpage-header-component"></div>
	</header>
	<p></p>
<div class="login-form">
  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required><br>

    <button type="submit">Login</button>
  </form>
</div>
		<label>Not a user? Register here:</label>
		<button (click) = "register()">Register</button>
		<p></p>
</html>