<html> 
	<header class  = "subpage-header">			
	<div class  = "blocker"></div>
	  <div class="subpage-header-component">
		<button (click) = "back()">Back</button>
	  </div>
	</header>
	<div  class  = "checkout-box">
	 <div>
    <label>
      Use Reward Points
      <input type="checkbox" [(ngModel)]="useRewardPoints" (change)="toggleRewardPoints($event)">
    </label>
    <hr>
  </div>
  <label>Cart:</label>
  <div *ngFor="let tour of tours">
    <div>
      <label>{{ tour.name }}</label> - 
      <label>{{ tour.price}}</label>
      <button (click)="removeFromCart(tour)">Remove</button>
    </div>
  </div>
  <div>
	  <hr>
    <label>Total Price: 
      <span>{{ finalPrice }}</span>
      <span *ngIf="useRewardPoints"> - 
        <span>{{ rewardPoints }}</span>         
      </span>
 	</label>
</div>
  <button (click)="checkout()">Purchase</button>
</div>
</html>
