<html>
	<header>			
	</header>
	<p></p>

	<div class="register-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" />
      <div *ngIf="formControls['username'].invalid && formControls['username'].touched">Username is required.</div>
    </div>

    <div>
      <label for="name">Name</label>
      <input id="name" formControlName="name" type="text" />
      <div *ngIf="formControls['name'].invalid && formControls['name'].touched">Name is required.</div>
    </div>

    <div>
      <label for="surname">Surname</label>
      <input id="surname" formControlName="surname" type="text" />
      <div *ngIf="formControls['surname'].invalid && formControls['surname'].touched">Surname is required.</div>
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="formControls['email'].invalid && formControls['email'].touched">
        Email is required and must be valid.
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
      <div *ngIf="formControls['password'].invalid && formControls['password']touched">Password is required.</div>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" />
      <div *ngIf="formControls['confirmPassword'].invalid && formControls['confirmPassword']touched">Confirm Password is required.</div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
    
    <div>
      <label>Interests</label>
      <div *ngFor="let interest of interests">
        <label>
          <input
            type="checkbox"
            [value]="interest"
            (change)="onInterestSelection($event)"
            [checked]="registerForm.value.interests.includes(interest)"
          />
          {{ interest }}
        </label>
      </div>
      <div *ngIf="formControls['interests'].invalid && formControls['interests'].touched">
        At least one interest must be selected.
      </div>
    </div>


    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
  
  <button (click)="back()">Back</button>
</div>
</html>