.main-header {
  position: fixed; 
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(0, 0, 160);
  font-size: x-large;
  display: flex;
  z-index : 10000;
  align-items: center;
  border-bottom: 5px solid rgb(192, 192, 192);
}

.main-header img {
  height: 50px;
  width: auto;   
  object-fit: contain; 
}

.main-header h1 {
  font-family: cursive; 
  font-weight: bold;           
  font-size: 50px;             
  align-items: center; 
  color: rgb(255, 255, 255);    
  gap: 15px;                                     
}

.main-content {
  padding-top: 70px; 
}

.subpage-header{
  position: fixed;
  top : 10px;
  left: 0;
  width: 100%;
  display : flex;
  align-items: center;
  z-index: 11000;
  box-sizing: border-box;   
}

.subpage-header-component {
  font-family: cursive; 
  font-weight: bold;           
  font-size: 50px;             
  color : rgb(192, 192, 192);
  margin-left: auto;
  display: flex;    
}

.tour-box{
  background-color: rgb(192, 192, 192);
  color: black;
  padding: 16px 30px;
  width: 800px;
  height: auto;
  border: 2px solid rgb(128, 0, 0);
}

.keypoint-info{
  padding: 15px 15px;
  background-color: rgb(0, 0, 0);
  color: #EAEAEA;
}

.keypoint-image {
  display: block;          
  margin: 0 auto 10px auto; 
  max-width: 600px;
  height: auto;
  border: 1px solid black;
}

button{
  background-color: rgb(0, 128, 192);
  font-family: cursive; 
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(128, 255, 255);
}

button:disabled {
  background-color: rgb(128, 0, 0);
  cursor: not-allowed;
}