<html>
	<header class  = "subpage-header">			
	<div class  = "blocker"></div>
	  <div class="subpage-header-component">
		<button (click) = "back()">Back</button>
	  </div>
	</header>
	<p></p>
	<form [formGroup]="createComplaintForm" (ngSubmit)="onSubmit()" class = "checkout-box">
    <div>
    	 <label for="name">Name</label>
     	 <input id="name" formControlName="name" type="text" />	
     	 <div *ngIf="formControls['name'].invalid && formControls['name'].touched">Name is required.</div>
    </div>
    <div>
   		 <label for="description">Description</label>
   		 <textarea id="description" formControlName="description"></textarea>
    	 <div *ngIf="formControls['description'].invalid && formControls['description'].touched">Description is required</div>
    </div>

    <button type="submit" [disabled]="createComplaintForm.invalid">Submit</button>
  </form>
</html>

